<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="eight columns">© Copyright 2014 by <a href="#">trizzy</a>. All Rights Reserved.</div>
        <div class="eight columns">
            <ul class="payment-icons">
                <li><img src="/assets/theme/visa.png" alt="" /></li>
                <li><img src="/assets/theme/mastercard.png" alt="" /></li>
                <li><img src="/assets/theme/skrill.png" alt="" /></li>
                <li><img src="/assets/theme/moneybookers.png" alt="" /></li>
                <li><img src="/assets/theme/paypal.png" alt="" /></li>
            </ul>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->